<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a href="#" class="navbar-brand">ToDo App</a>
    <button 
        type="button"
        class="navbar-toggler"
        data-toggle="collapse"
        data-target="#res_nav"
    >
        <span class="navbar-toggler-icon bg-dark"></span>
    </button>
    <div class="collapse navbar-collapse" id="res_nav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" routerLinkActive="active">
                <a href="#" class="nav-link" [routerLink]="'home'">Home</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a href="#" class="nav-link" [routerLink]="'about'">About</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a href="#" class="nav-link" [routerLink]="'todos'">ToDos</a>
            </li>
        </ul>
    </div>
</nav>
