<!-- about page content -->

<div class="container text-center">
  <h1 class="mt-5">About</h1>
  <p class="lead">Let's code this ToDos app</p>
  <p>
    This app is fully developed with Angular 11 and Firebase as a backend
    database.
  </p>
  <br />
  <h3>Note</h3>
  <p>The database can be used by anyone for up to 30 days (until 2021/05/16)</p>
  <br />
  <h4>Concepts integrated in this app:</h4>
  <ul class="list-group">
    <li class="list-group-item">
      <i class="fa fa-square-o" aria-hidden="true"></i>
      Routing
    </li>
    <li class="list-group-item">
      <i class="fa fa-square-o" aria-hidden="true"></i>
      Models as interfaces
    </li>
    <li class="list-group-item">
      <i class="fa fa-square-o" aria-hidden="true"></i>
      Services for backend communication to Firebase
    </li>
    <li class="list-group-item">
      <i class="fa fa-square-o" aria-hidden="true"></i>
      CRUD operations applied on entry data
    </li>
  </ul>
</div>
