<!-- ToDos content page -->

<div class="jumbotron text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-2 col-md-3"></div>
      <div class="col-sm-8 col-md-6">
        <h1 class="display-4">ToDos</h1>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="ToDo title" #todoTitle />
          <div class="input-group-append">
            <button 
              type="button" 
              class="btn btn-outline-success" 
              (click)="addTodo(todoTitle.value);todoTitle.value=''"
            >
              Add ToDo
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- List of todos -->
<div class="container">
    <div class="row">
        <div class="col-sm-2 col-md-3"></div>
        <div class="col-sm-8 col-md-6">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let todo of todos">
                    <i class="fa fa-square-o" aria-hidden="true" (click)="editTodo(todo)"></i>
                    {{todo.title}}
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- List of finished todos -->
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-2 col-md-3"></div>
        <div class="col-sm-8 col-md-6">
            <h4 class="text-center">Finished ToDos</h4>
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let todo of finishedTodos">
                    <i class="fa fa-check-square-o" aria-hidden="true" (click)="editTodo(todo)"></i>
                    <i class="fa fa-trash-o float-right mt-1" (click)="deleteTodo(todo)"></i>
                    {{todo.title}}
                </li>
            </ul>
        </div>
    </div>
</div>
