<!-- home page content -->

<div class="jumbotron text-center">
    <h1 class="display-4">Hello world</h1>
    <p class="lead">Welcome to the ToDos app with Angular and Firebase</p>
    <button type="button" class="btn btn-primary btn-lg" [routerLink]="'/todos'">Go to ToDos</button>
</div>
<div class="text-center">
    Please visit the about page for more information.
</div>
